.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
    overflow-y: auto;
    position: relative; /* Add relative positioning to the modal container */
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .close-button {
    background-color: #ffcc00;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .close-button-icon {
    position: absolute;
    top: 10px; /* Adjust distance from top */
    right: 10px; /* Adjust distance from right */
    background-color: #ffcc00;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .modal-body {
    margin-top: 20px;
    font-size: 14px;
    color: black;
  }
  
  .card {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card h3 {
    margin-top: 0;
    font-size: 18px;
  }
  
  .card p {
    font-size: 14px;
    color: #555;
  }
  
  .modal-footer {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
  }
  