/* General Styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #002855;
  background-color: #f8f9fa;
}

.App {
  text-align: center;
}

/* Header */
header {
  background-color: #002855;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

header .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

header .actions {
  display: flex;
  gap: 10px;
}

header .actions button {
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

header .actions .login-btn {
  background-color: #ffcc00;
  color: #002855;
}

header .actions .login-btn:hover {
  background-color: #ffd633;
}

header .actions .sign-in-btn {
  background-color: #007bff;
  color: white;
}

header .actions .sign-in-btn:hover {
  background-color: #0056b3;
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  background-color: #002855;
  color: white;
  padding: 50px;
  height: 60vh;
}

.hero-text {
  flex: 1;
  padding-right: 20px;
}

.hero-text h1 {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 20px;
  text-align: left;
}

.hero-text p {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: left;
}

.hero-image {
  flex: 1;
}

.hero-image img {
  width: 80%;
  height: auto;
  border-radius: 10px;
}


/* Section Styles */
.section {
  padding: 40px 20px;
  background-color: white;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}


.section:nth-last-child(even) {
  flex-direction: row-reverse;
}

.section-content {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.section-content h2 {
  color: #002855;
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.section-content p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.section-content button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.section-content button:hover {
  background-color: #0056b3;
}

.section-image {
  flex: 1;
  padding: 20px;
}

.section-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Footer */
footer {
  background-color: #002855;
  color: white;
  text-align: center;
  padding: 40px 20px;
  margin-top: 40px;
}

footer h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

footer p {
  font-size: 1rem;
  line-height: 1.6;
}
